.slider-container {
  position: relative;
  width: 100%;
  max-width: 74rem;
  overflow: hidden;
}

.slider {
  position: relative;
  left: 0rem; /* Move to 1 slide - width of the slide + gap */
  display: flex;
  width: 100%;
  transition: linear .5s;
}

.slide {
  display: block;
  width: fit-content;
  flex-shrink: 0;
  padding: 5rem 6rem;
}

.arrows__next,
.arrows__prev {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.arrows__prev {
  left: 0;
}

.arrows__next {
  right: 0;
  transform: rotate(180deg);
}

.arrows__prev:disabled,
.arrows__next:disabled {
  color: var(--grey);
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .arrows__prev {
    left: 43%;
    top: 90%;
  }

  .arrows__next {
    right: 43%;
    top: 90%;
  }
}

@media (max-width: 950px) {
  .slide {
    padding: 5rem 2rem;
  }
}

@media (max-width: 720px) {
  .slide {
    padding: 2rem 1rem;
  }

  .arrows__prev {
    display: none;
  }

  .arrows__next {
    display: none;
  }
}

@media (max-width: 360px) {
  .slide {
    padding: 2rem .3rem;
  }
}
